/* colors */

.light-mode {
    --primary: #1E1E1E;
    --primarytransp: #1e1e1e27;
    --border: #cccccc;
    --opposite: #f8f8f8;
    --gold: #D6C79B;
    --gold2: #bea969;
}

.dark-mode {
    --primary: #eeeeee;
    --primarytransp: #d6c79b00;
    --border: #322f35;
    --opposite: #1F1A24;
    --gold2: #D6C79B;
    --gold: #bea969;
}

/* some basic stuff */

::-webkit-scrollbar {
    display: none;
}

html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html { 
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* background-image: linear-gradient(to top right, white, white, white, var(--gold));*/
    background-color: var(--opposite);
    /* background-size: 1920px 1080px;*/
    background-repeat: no-repeat;
}
 
a {
    text-decoration: none;
    color: var(--primary);
}

a:hover{
    text-decoration: underline;
}

h1 {
    color: var(--primary);
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 0;
}

#content {
    width: 74%;
    margin: 0 auto;
    padding-left: 5%;
    margin-bottom: 0px;
}

#name {
    margin-top: 220px;
}

#qualifiers {
    color: var(--gold);
}

#nav {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3 a {
    color: var(--gold2);
    font-size: 28px;
    font-weight: 400;
    margin-right: 40px;
    margin-bottom: 0;
    margin-top: 10px;
    text-decoration: none;
}

h3 a:hover{
    text-decoration: underline;
}

/* content */

h2 {
    color: var(--gold);
    font-size: 48px;
    font-weight: 600;
    width: 300px;
}

h2 a:hover {
    text-decoration: line-through;
}

#about {
    margin-top: 240px;
    padding-top: 200px;
}

.rectangle {
    height: 1px;
    width: 500px;
    background-color: var(--primary);
    margin-left: 270px;
    margin-top: -65px;
}

#rectab {
    margin-left: 150px;
    width: 620px;
}

.flexy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text {
    margin-top: 20px;
    width: 55%;
    max-width: 800px;
}

p {
    color: var(--primary);
    font-size: 24px;
}

#experience {
    margin-top: 150px;
    padding-top: 50px;
}

#flexexp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#mepic {
    width: 400px;
    margin: 0px 0 0 60px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 15px 15px var(--gold);
    transition: box-shadow 0.5s;
}

#mepic:hover {
    box-shadow: 15px 15px var(--gold2);
}

/* experience boxes */

.expbox {
    width: 770px;
    height: auto;
    margin-top: 20px;
    margin-right: 90px;
    padding-bottom: 20px;
    box-shadow: 0px 5px 30px var(--primarytransp);
    border: solid 1px var(--border);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    background-color: var(--opposite);
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

#skillbox {
    width: 400px;
    margin-top: 60px;
}

#skillbox img {
    width: inherit;
    border-radius: 20px;
    box-shadow: 15px 15px var(--gold);
    transition: box-shadow 0.5s;
    margin-bottom: 62px;
}

#skillbox img:hover {
    box-shadow: 15px 15px var(--gold2);
}

#firstexpbox {
    margin-top: 60px;
}

.expbox img {
    width: 50px;
    height: auto;
    padding-top: 15px;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.exptitle {
    padding-top: 12px;
    padding-left: 20px;
    height: 50px;
}

#fourthexpbox img {
    width: 60px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#fourthexpbox .exptitle {
    padding-left: 10px;
}

.expbox h1 {
    font-size: 24px;
}

.expbox h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--gold2);
    margin-top: 0px;
    width: auto;
}

.expinfo {
    padding-left: 20px;
    margin-top: 10px;
}

.expinfo p {
    width: auto;
    padding-right: 14px;
    font-size: 16px;
}

.skills {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill {
    background-color: var(--gold);
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: auto;
    display: block;
    border-radius: 5px;
    color: var(--opposite);
    transition: all 0.5s;
}

.skill:hover {
    background-color: var(--gold2);
    color: var(--primary);
}

.skill h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.zspclass {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

footer h4 {
    color: var(--primary);
    margin-bottom: 0px;
    font-weight: 400;
}

footer h5, a {
    margin-top: 10px;
    color: var(--gold2);
}


/* accordion */

.expinfo {
    display: none;
}

.active .expinfo {
    display: block;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
    margin-left: 90%;
    margin-top: 40px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url("images/day.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}
  
input:checked + .slider {
    background-color: var(--gold2);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--gold2);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url("images/night.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 1708px) {

    #content {
        margin: 0 auto;
        width: 75%;
        padding-left: 0px;
    }

    .expbox {
        width: 540px;
    }
    
}

@media (max-width: 1382px) {

    #content {
        margin: 0 auto;
        width: 80%;
    }

    h1 {
        font-size: 56px;
    }

    #nav {
        margin-top: 20px;
    }

    h3 a {
        font-size: 28px;
        margin-right: 22px;
    }

    .switch {
        margin-left: 85%;
    }

    h2 {
        font-size: 44px;
    }

    h2 a {
        font-size: 12px;
    }

    .text {
        width: 100%;
    }

    p {
        width: 100%;
        font-size: 20px;
    }

    #mepic {
        margin: 10px auto;
        width: 70%;
        max-width: 500px;
    }

    #skillbox {
        width: 100%;
        margin: 40px auto 0px;
    }

    #skillbox img {
        width: 70%;
        margin: 0 auto 40px;
        max-width: 500px;
        display: block;
    }

    .expbox {
        width: 100%;
    }

    .expinfo p {
        width: auto;
        padding-right: 20px;
    }

    .expboxlong h1 {
        font-size: 20px;
    }

    .expboxlong h2 {
        font-size: 14px;
    }

    .expboxlong .exptitle {
        width: 220px;
        margin-left: -10px;
    }

    .expboxlong img {
        margin-top: 5px;
    }


    .rectangle {
        width: 240px;
        margin-left: 240px;
        margin-top: -62px;
    }
    
    #rectab {
        margin-left: 130px;
        width: 350px;
    }

    #flexexp {
        display: block;
    }
}

@media (max-width: 600px) {

    #content {
        margin: 0 auto;
        width: 85%;
    }

    h1 {
        font-size: 42px;
    }

    #nav {
        margin-top: 20px;
    }

    h3 a {
        font-size: 22px;
        margin-right: 20px;
    }

    .switch {
        margin-left: 80%;
    }

    h2 {
        font-size: 40px;
    }

    h2 a {
        font-size: 12px;
    }

    p {
        width: 100%;
        font-size: 18px;
    }

    #mepic {
        margin: 10px auto;
        width: 80%;
    }

    #skillbox {
        width: 100%;
        margin: 40px auto 0px;
    }

    #skillbox img {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 40px;
    }

    .expbox {
        width: 100%;
    }

    .expinfo p {
        width: auto;
        padding-right: 20px;
    }

    .expboxlong h1 {
        font-size: 20px;
    }

    .expboxlong h2 {
        font-size: 14px;
    }

    .expboxlong .exptitle {
        width: 220px;
        margin-left: -10px;
    }

    .expboxlong img {
        margin-top: 5px;
    }


    .rectangle {
        width: 120px;
        margin-left: 224px;
        margin-top: -58px;
    }
    
    #rectab {
        margin-left: 120px;
        width: 220px;
    }

    #flexexp {
        display: block;
    }
}

@media (max-width: 400px) {

    #content {
        margin-left: 5%;
        width: 90%;
    }

    h1 {
        font-size: 36px;
    }

    #nav {
        margin-top: 20px;
    }

    h3 a {
        font-size: 18px;
        margin-right: 20px;
    }

    .switch {
        margin-left: 280px;
    }

    h2 {
        font-size: 32px;
    }

    h2 a {
        font-size: 12px;
    }

    #text {
        width: 100%;
    }

    p {
        width: auto;
        font-size: 18px;
    }

    #mepic {
        margin: 10px auto;
        width: 300px;
    }

    #skillbox {
        margin: 30px auto;
    }

    #skillbox img {
        width: 300px;
        display: block;
        margin: 0 auto 30px;
    }

    .expbox {
        width: 100%;
    }

    .expinfo p {
        width: auto;
        padding-right: 20px;
    }

    .expboxlong h1 {
        font-size: 20px;
    }

    .expboxlong h2 {
        font-size: 14px;
    }

    .expboxlong .exptitle {
        width: 220px;
        margin-left: -10px;
    }

    .expboxlong img {
        margin-top: 5px;
    }

    .rectangle {
        width: 140px;
        margin-left: 180px;
        margin-top: -45px;
    }
    
    #rectab {
        margin-left: 100px;
        width: 220px;
    }

    #flexexp {
        display: block;
    }

}